.floatingAd {
  .ad {
    z-index: 100;
    background: none;
    position: absolute;
    display: none;
  }
  a {
    color: #000000;
    display: inline-block;
    text-decoration: none;
    img {
      border: 0;
    }
  }
  .close {
    display: none;
  }

  .opacity {
    //position: absolute;
    //top: 0;
    //width: 100%;
    //height: 25px;
    //background-color: #000000;
    //opacity: 0.20;
    //filter: alpha(opacity=20);
  }

  .text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 25px;
    color: #000000;
    line-height: 25px;
    .button {
      position: relative;
      float: right;
      top: 5px;
      right: 5px;
      width: 16px;
      height: 16px;
      background: url("../images/close.png") no-repeat;
      cursor: pointer;
    }
    .title {
      position: relative;
      float: left;
      font-size: 12px;
      margin-left: 5px;
    }
  }
}

.opacity1 {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
